/* Hide light mode element by default */
.light-mode-only {
    display: none;
}

/* Show light mode element when light mode is active */
@media (prefers-color-scheme: light) {
    .light-mode-only {
        display: block;
    }
}

/* Hide dark mode element by default */
.dark-mode-only {
    display: none;
}

/* Show dark mode element when dark mode is active */
@media (prefers-color-scheme: dark) {
    .dark-mode-only {
        display: block;
    }
}